[submodule "deps/dune"]
	path = deps/dune
	url = https://github.com/ix-project/dune.git
[submodule "deps/pcidma"]
	path = deps/pcidma
	url = https://github.com/ix-project/pcidma.git
[submodule "deps/dpdk"]
	path = deps/dpdk
	url = http://dpdk.org/git/dpdk
